.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


body {
  background-image: url("./images/grey_wash_wall.png");
}

.image-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  color: #2f302f;




  img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
  
  }

}


.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.navbar-custom {
  background: linear-gradient(#666967, #000000);
  -webkit-box-shadow: 5px 5px 34px #000000;
  -moz-box-shadow: 5px 5px 34px #000000;
  box-shadow: 5px  5px 34px #000000;

}



.welcome {
  text-align: center;
  color: #2f302f;
  background-color: white;

}


.p {
  font-stretch: condensed;
  font-size: 15px,

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.card {
  color: #2f302f;
  background-color: #f0eee9;

}
